VITE_CHAIN_ID=84532
VITE_RPC_URL=https://sepolia.base.org
VITE_GAME_ADDRESS=
VITE_PROFILE_ADDRESS=
VITE_PAPER_ASSET_ADDRESS=
VITE_ACHIEVEMENT_ADDRESS=
VITE_ELIGIBILITY_ADDRESS=
VITE_CREW_ADDRESS=
VITE_DEAL_ROOM_ADDRESS=
VITE_WORK_FLOOR_ADDRESS=
VITE_STONKBROKER_TOKEN_ADDRESS=0xe934e36A439C94017B64a3FecE66AF12099aBF50
VITE_BROKER_LICENSE_ADDRESS=
VITE_BROKER_IDENTITY_NFT_ADDRESS=
VITE_ERC6551_REGISTRY_ADDRESS=
VITE_BROKER_REGISTRY_ADDRESS=
VITE_BROKER_VAULT_ADDRESS=
VITE_BROKER_ROUTER_ADDRESS=
VITE_BANKER_HOOK_ADDRESS=
VITE_ROBINHOOD_ASSET_REGISTRY_ADDRESS=
VITE_DIRECT_TEST_TOKEN_A=
VITE_DIRECT_TEST_TOKEN_B=
VITE_PROFILE_MINT_FEE_ETH=0.001
VITE_WALLETCONNECT_PROJECT_ID=
