VITE_CHAIN_ID=84532
VITE_RPC_URL=https://sepolia.base.org
VITE_GAME_ADDRESS=
VITE_PROFILE_ADDRESS=
VITE_PAPER_ASSET_ADDRESS=
VITE_ACHIEVEMENT_ADDRESS=
VITE_ELIGIBILITY_ADDRESS=
VITE_CREW_ADDRESS=
VITE_DEAL_ROOM_ADDRESS=
VITE_WORK_FLOOR_ADDRESS=
VITE_PROFILE_MINT_FEE_ETH=0.001
VITE_WALLETCONNECT_PROJECT_ID=
